<!DOCTYPE html>
<html>
	<head>
		<title>cramb url</title>
		<script type="text/javascript" src="resources/js/jquery-2.1.4.min.js"></script>
	</head>
	<body>
		<div class="wrap">
			<h2>添加媒体-无专辑</h2>
			<form action="addMedia" method="get">
				<div>
					<label>媒体name</label>
					<input name="name" type="text">
				</div>
				<div>
					<label>媒体封面</label>
					<input type="text" name="cover">
				</div>
				<div>
					<label>媒体title</label>
					<input type="text" name="title">
				</div>
				<div>
					<label>源地址</label>
					<input type="text" name="cramb_url">
				</div>
				<input type="hidden" name="type" value="0">
				<input type="submit" value="ok">
			</form>
			<h2>添加媒体-有专辑</h2>
			<form action="addMedia" method="get">
				<div>
					<label>媒体封面</label>
					<input type="text" name="cover">
				</div>
				<div>
					<label>媒体title</label>
					<input type="text" name="title">
				</div>
				<div>
					<label>媒体专辑</label>
					<select name="album" id="album_list"></select>
				</div>
				<div>
					<label>媒体专辑序列</label>
					<input type="text" name="album_index">
				</div>
				<div>
					<label>源地址</label>
					<input type="text" name="cramb_url">
				</div>
				<input type="hidden" name="type" value="1">
				<input type="submit" value="ok">
			</form>
			<h2>添加专辑</h2>
			<form action="addAlbum" method="get">
				<div>
					<label>专辑name</label>
					<input name="name" type="text">
				</div>
				<div>
					<label>专辑长度</label>
					<input name="length" type="text">
				</div>
				<div>
					<label>专辑封面</label>
					<input type="text" name="cover">
				</div>
				<div>
					<label>专辑title</label>
					<input type="text" name="title">
				</div>
				<input type="submit" value="ok">
			</form>
			<h2>媒体断点续传-有专辑</h2>
			<form action="editMedia" method="get">
				<div>
					<label>选择媒体</label>
					<select name="media_id" id="media_list"></select>
				</div>
				<div>
					<label>选择断点位置</label>
					<input type="text" name="start_point">
				</div>
				<div>
					<label>源地址</label>
					<input type="text" name="cramb_url">
				</div>
				<input type="submit" value="ok">
			</form>
		</div>
		<script type="text/javascript" src="resources/js/cramb.js"></script>
	</body>
</html>